spring:
  application:
    name: insurance-app
  jpa:
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC


server:
  port: 8080

logging:
  level:
    root: INFO




