spring:
  application:
    name: insurance-app
  jpa:
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  cache:
    type: redis

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    url: /openapi.yml

server:
  port: 8080

logging:
  level:
    root: INFO

app:
  cache:
    prefix: insurance-app
    default-ttl-minutes: 10



